* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IM Fell English', serif;
}

p {
  font-family: 'EB Garamond', serif;
  margin: 18px 0 23px;
  line-height: 25px;
  text-align: left;
}

p::first-line {
  color: #5e7942;
  font-variant: small-caps;
}


header {
  background: #333;
  color: white;
  padding: 10px 30px 10px;
}

section {
  padding: 20px;
  max-width: 700px;
  margin-left: 10px;
}

.ghouls {
  margin: 5px 0px 0px 11px;
}

.ghouls img:hover {
  filter: invert(4);

}

.top-section {
  background: #a9a9a9;
}

.top-section .gorey-logo {
  float: left;
}

a {
  background: #333;
  color: white;
  padding: 5px 10px;
  margin: 20px 10px;
  display: inline-block;
  border-radius: 3px;
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: #5e7942;
}

.animation {
  position: absolute;
  width: 400px;
  top: 200px;
  opacity: .5;
  animation: wind 5s;
}

@keyframes wind {
  from {
    top: -4lightbox.css00px;
  }
  to{
    bottom: 800px;
  }
}

.gallery {
  max-width: 900px;
  display: inline;
}

.gallery h2{
  margin-left: 10px;
  font-size: 40px;
}
